<div class="product-section">
  <h1>{{ product.title }}</h1>
  
  <div class="product-description">
    {{ product.description }}
  </div>

  <div class="product-price">
    {{ product.price | money }}
  </div>

  {% form 'product', product %}
    <button type="submit" name="add">
      Add to cart
    </button>
  {% endform %}
</div>

{% schema %}
{
  "name": "Main product",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
